/* Bnazanin Custom Font */
@font-face {
    font-family: BNAZANIN;
    src: url("../fonts/Bnazanin/BNAZAN.woff2") format("woff2"),
        url("../fonts/Bnazanin/BNAZAN.eot") format("eot"),
        url("../fonts/Bnazanin/BNAZAN.otf") format("otf"),
        url("../fonts/Bnazanin/BNAZAN.TTF") format("truetype"),
        url("../fonts/Bnazanin/BNAZAN.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: BNAZANINB;
    src: url("../fonts/Bnazanin/BNAZANB.woff2") format("woff2"),
        url("../fonts/Bnazanin/BNAZANB.eot") format("eot"),
        url("../fonts/Bnazanin/BNAZANB.otf") format("otf"),
        url("../fonts/Bnazanin/BNAZANB.TTF") format("truetype"),
        url("../fonts/Bnazanin/BNAZANB.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
    color: #333;
    font-family: BNAZANIN;
    font-weight: normal;
}

body {
    margin: 0;
    direction: rtl;
}

.container {
    width: 100%;
    padding: 0 50px;
}

.col-4 {
    width: 25%;
    height: auto;
    float: right;
    padding: 15px;
}

.clearfix {
    /* zamani ke az float right va left estefade kardim halate shenavar pish miad ke baraye dorost shodanesh bayad dakhal 
    div joda bad az div haye daraye float bayad az in class estefade konim */
    clear: both;
}

ul {
    /* baraye inke oun noghte poshte kalame az beyn bere bayad 'list-style' ro barabar 'none' bezarim */
    list-style: none;
    /* baraye inke be surat pishfarz daraye 'padding va margin' hast bayad barabar '0' gharar bedim */
    padding: 0;
    margin: 0;
}

a {
    /* baraye inke khate abi zir be surat default hast az bein bere bayad 'text-decoration' ra barabar 'none' bezarim */
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

label {
    display: block;
    color: #777;
    font-size: 20px;
    margin-bottom: 10px;
}

/* index.html */

/* header */

.header {
    width: 100%;
    height: 50px;
    background-color: #fff;
    box-shadow: 0px 2px 3px #bbb;
}

/* hamburger menu */

.hamburger-menu {
    display: none;
    background-color: transparent;
    margin: 10px 0;
    border: 0;
    outline: none;
    padding: 0;
    float: right;
}

.hamburger-menu img {
    width: 30px;
    height: 30px;
}

/* site main logo */

.shop-logo {
    /* baraye inke be samt rast ferestade beshe bayad 'float' ra 'right' gharar bedim */
    float: right;
}

.shop-logo img {
    width: 65px;
    /* zamani ke auto gozashte mishe yani be hamun mizan ke width taghyir kone height ham taghyir bokone */
    height: auto;
}

/* page links in navbar */

.header-nav {
    /* baraye inke be samt rast ferestade beshe bayad 'float' ra 'right' gharar bedim */
    float: right;
    margin-right: 10px;
}

/* yani be farzandan emal mishe na be nave natije */
.header-nav>li {
    /* zamani ke bekhaim anasor dar kenar ham va ba ghabeliat tayin arz va tul gharar begirand */
    display: inline-block;
    padding: 15px 20px;
    float: right;
    position: relative;
}

.header-nav span {
    cursor: pointer;
}

/* dropdown menu near categories */

.dropdown-menu-icon {
    width: 13px;
    height: 10px;
    background: url(../images/icon/dropdown-menu.png) center no-repeat;
    display: inline-block;
    background-size: cover;
    margin-right: 5px;
    vertical-align: 1px;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    width: 150px;
    height: auto;
    box-shadow: 0px 2px 4px #777;
    background-color: #fff;
    /* in yani jash chaghdr bad az ghbliye bashe  */
    top: 100%;
    right: 0;
}

/* migim class dropdown-menu ke dakhael .dropdown ast ro dafualt 'display: none;'*/
.dropdown .dropdown-menu {
    display: none;
}

/* migim class dropdown-menu ke dakhael .dropdown ast ro har vaght hover kardim 'display: block;'*/
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    font-size: 20px;
    padding: 10px 20px;
}

.dropdown-menu li:hover {
    background-color: #777;
}

.dropdown-menu li a {
    /* in kar baes mishe oun 'cursor: pointer;' ke difault tag a hast be surat koli ta ounjayi ke arz dadim ro begire */
    display: block;
}

/* signup and login button in navbar */

.login-btn {
    background-color: #0080ff;
    color: #fff;
    border: none;
    padding: 8px 11px;
    margin: 10px 0;
    border-radius: 3px;
    cursor: pointer;
    /* zamani ke mikhaim click bekonim va doresh khat siah miad bayad 'outline' ro barabar 'none' bazarim */
    outline: none;
    float: left;
}

/* home page intro */

.page-intro {
    width: 100%;
    height: auto;
    background: rgb(4, 223, 255);
    background: linear-gradient(90deg,
            rgba(4, 223, 255, 1) 0%,
            rgba(0, 17, 255, 1) 100%);
    padding: 50px 0;
}

/* home page intro for half right side */

.page-intro-right {
    width: 50%;
    height: auto;
    float: right;
    text-align: right;
}

/* home page intro for half right side site introduction */

.page-intro-right h1 {
    color: #fff;
    font-size: 70px;
    font-family: BNAZANINB;
    font-weight: bold;
}

/* home page intro for half right side buttons */

.page-intro-right-btns {
    margin: 0 auto;
    width: 300px;
}

/* home page intro for half right side each button */

.page-intro-right-btn {
    /* baraye inke betunim paszamine ra shafaf konim bayad 'background-color' ra barabar 'transparent' gharar bedim */
    color: #fff;
    background-color: transparent;
    width: 120px;
    float: right;
    margin-left: 20px;
    border: 2px solid #fff;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

.page-intro-left {
    width: 50%;
    height: auto;
    float: left;
}

.page-intro-left img {
    width: 100%;
    height: 300px;
}

/* new products */

.product-boxes h2 {
    font-family: BNAZANINB;
    font-weight: bold;
    margin: 20px 0;
}

.product-cart {
    width: 100%;
    height: 400px;
    box-shadow: 0 2px 3px #bbb;
    background-color: #fff;
}

.product-cart-picture img {
    width: 100%;
    height: 300px;
}

.product-cart-body-title {
    float: right;
    margin: 10px 5px;
}

.product-cart-body-price {
    float: left;
    color: #bbb;
    margin: 10px 5px;
    text-decoration-line: line-through;
}

.product-cart-body-description {
    float: right;
    margin: 10px 5px;
}

.product-cart-body-price-off {
    float: left;
    font-family: BNAZANIN;
    font-weight: normal;
    margin: 10px 5px;
}

/* ad images for site */

.ad-images {
    padding-top: 50px;
}

.left-ad-image {
    float: left;
    width: 25%;
    height: 300px;
    padding: 0 10px;
}

.left-ad-image img {
    width: 100%;
    height: 300px;
}

.right-ad-image {
    float: right;
    width: 75%;
    height: 300px;
    padding: 0 10px;
}

.right-ad-image img {
    width: 100%;
    height: 300px;
}

/* most discount products */

.most-off-products {
    width: 100%;
    height: auto;
    background-color: #96cafd;
}

.most-off-products h2 {
    font-family: BNAZANINB;
    font-weight: bold;
    margin: 20px 0;
}

.most-off-product {
    width: calc(100% / 3);
    height: auto;
    float: right;
    padding: 15px;
}

.why-us-item {
    width: 100%;
    height: auto;
    text-align: center;
}

.why-us-item img {
    width: 100%;
    height: 300px;
}

.why-us-item h3 {
    font-weight: bold;
    font-size: 20px;
}

.why-us-item p {
    font-size: 15px;
}

/* footer */

.footer {
    background-color: #333;
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.footer-box-first-last {
    float: right;
    width: 30%;
    height: auto;
    padding: 15px;
}

.footer-box-second-third {
    float: right;
    width: 20%;
    height: auto;
    padding: 15px;
}

.footer-item {
    width: 100%;
    height: auto;
}

.footer-titles {
    font-weight: bold;
    font-size: 25px;
    color: #fff;
}

.footer-text {
    color: #fff;
    font-size: 15px;
}

.footer-item ul li {
    margin: 30px;
}

.footer-item ul li a {
    color: #fff;
    font-size: 15px;
    margin-top: 10px;
}

.footer-item ul li span {
    color: #fff;
    font-size: 15px;
    margin-top: 10px;
}

.footer-pictures {
    height: auto;
    width: 100%;
}

.footer-pictures img {
    width: 150px;
    height: 150px;
}

.footer-line {
    border-color: #8f8f8f;
    border-width: 3px;
}

.under-footer p {
    padding: 20px 0;
    color: #fff;
    font-size: 20px;
    float: right;
}

.media-footer {
    float: left;
}

/* single-page.html */

/* breadcrumbs */

.breadcrumbs {
    background-color: #eee;
    padding: 15px 0;
}

.breadcrumbs a {
    color: #777;
}

.breadcrumbs span {
    color: #777;
}

.breadcrumbs a::after {
    content: "";
    display: inline-block;
    background: url(../images/icon/left-arrow.png);
    width: 15px;
    height: 15px;
    margin: 0 8px;
    /* az in baraye inke bekhaim bala payin bokonim ta dar yek sath gharar begiran */
    vertical-align: -3px;
}

/* prodcut informations */

.product-info {
    padding-top: 50px;
    margin-bottom: 50px;
}

.product-info-right {
    width: 50%;
    height: auto;
    float: right;
}

.product-info-picture {
    /* zamani ke bekhaim mohtaviat tag div ro biarim vasat be tag div bayad arz bedim va 'margin: auto;' bezarim */
    width: 350px;
    margin: auto;
    border: 1px solid #ddd;
}

.product-info-picture img {
    width: 100%;
    height: auto;
}

.product-info-left {
    width: 50%;
    height: auto;
    float: left;
}

.product-info-title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 15px;
}

.product-info-price {
    font-size: 18px;
    color: #777;
    /* be dalil inke tag span be surat default 'display: inline;' va nemishe behesh arz va ertefa dad pas bayad 'display: inline-block;' bezarim */
    display: inline-block;
    margin-bottom: 20px;
}

.product-info-price p {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.product-info-sizes p {
    margin-bottom: 10px;
    font-weight: bold;
}

.product-info-size {
    /* be dalil inke tag span be surat default 'display: inline;' va nemishe behesh arz va ertefa dad pas bayad 'display: inline-block;' bezarim */
    width: 50px;
    height: 35px;
    border: 1px solid #777;
    display: inline-block;
    padding: 7px;
    text-align: center;
}

.product-info-props {
    margin-bottom: 20px;
}

.product-info-props p {
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-info-props li span {
    margin-bottom: 8px;
    /* be dalil inke tag span be surat default 'display: inline;' va nemishe behesh arz va ertefa dad pas bayad 'display: inline-block;' bezarim */
    display: inline-block;
    color: #777;
}

.product-info-description {
    margin-bottom: 25px;
}

.product-info-description span {
    /* be dalil inke tag span be surat default 'display: inline;' va nemishe behesh arz va ertefa dad pas bayad 'display: inline-block;' bezarim */
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
}

.product-info-description p {
    width: 75%;
    color: #777;
}

.product-info-btn {
    width: 300px;
    margin: auto;
}

.product-info-btn button {
    background-color: #00bf6f;
    border: none;
    font-size: 15px;
    color: #fff;
    width: 200px;
    height: 50px;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

/* comments */

.comments h3 {
    font-weight: bold;
    padding-top: 20px;
}

.single-comment {
    height: auto;
    background-color: #c4c3c3;
    padding: 0 20px 20px 20px;
}

.comment-items {
    padding: 37px 80px 20px 0;
    position: relative;
    height: auto;
    border-bottom: 2px solid #333;
}

.comment-items:last-child {
    border-bottom: none;
}

.comment-items img {
    top: 20px;
    right: 15px;
    position: absolute;
}

.comment-items span:first-child {
    font-weight: bold;
    font-size: 18px;
    padding-right: 20px;
}

.comment-items span:last-child {
    padding-right: 20px;
}

.comment-items p {
    padding-top: 30px;
}

.green-color {
    color: green !important;
    font-weight: bold;
}

.red-color {
    color: red !important;
}

/* contact-us.html */

/* contact form */

.contact-us h1 {
    font-weight: bold;
    margin-top: 30px;
}

.row {
    display: flex;
    height: auto;
    flex-wrap: wrap;
}

.contact-input {
    width: 50%;
    padding-left: 30px;
    margin-bottom: 20px;
}

.contact-input input {
    width: 100%;
    border: 2px solid #ccc;
    height: 30px;
    outline: none;
}

.contact-textarea {
    width: 100%;
    padding-left: 30px;
    margin-bottom: 20px;
}

.contact-textarea textarea {
    width: 100%;
    border: 2px solid #ccc;
    height: 30px;
    outline: none;
    min-height: 200px;
}

.contact-us button {
    width: 80px;
    height: 40px;
    background-color: #0080ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-hr {
    margin: 30px 0;
    border: 1px solid #ccc;
}

/* contact information */

.contact-row-right {
    width: 50%;
    height: auto;
}

.contact-info h2 {
    display: block;
    font-weight: bold;
    margin-bottom: 30px;
}

.contact-row-right address,
a {
    font-size: 20px;
    margin-bottom: 20px;
}

.contact-row-left {
    width: 50%;
    height: auto;
    padding-top: 30px;
    border: 1px solid #ccc;
}

.contact-row-left img {
    width: 100%;
    height: auto;
}

/* panel.html */

/* panel header */

.main-panel {
    padding-top: 66px;
}

.main-panel header {
    box-shadow: 0px 2px 3px #ccc;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
}

.panel-header {
    display: flex;
    justify-content: space-between;
}

.panel-header p {
    padding: 20px 0;
    font-weight: bold;
    font-size: 20px;
}

.user-header span {
    vertical-align: 20px;
    padding-left: 10px;
}

.user-header img {
    width: 50px;
    height: auto;
    padding-top: 10px;
}

.slidebar-panel {
    position: fixed;
    width: 240px;
    height: 100%;
    top: 66px;
    right: 0;
    background-color: #2c2b2b;
    z-index: 999;
    /* in baraye zamanie ke age tedad item ha bishtar bud va payin rafte bud bayad betunim scroll konim ke az 'overflow: auto;' estefade mikonim */
    overflow: auto;
}

/* panel bodu inputs */

.slidebar-body {
    padding-right: 250px;
    width: 100%;
    height: auto;
}

.slidebar-body-content {
    padding: 30px;
}

.slidebar-body span {
    font-weight: bold;
    font-size: 24px;
    display: block;
    border-bottom: 2px solid #ccc;
    padding: 20px 0;
}

.slidebar-body-input {
    margin-top: 20px;
}

.slidebar-body-input label {
    display: block;
    margin-bottom: 5px;
}

.slidebar-body-input input[type="text"] {
    width: 250px;
    height: 30px;
    outline: none;
    border: 3px solid #ccc;
    border-radius: 5px;
}

.slidebar-body-button {
    background-color: #0080ff;
    outline: none;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    margin: 15px;
    cursor: pointer;
}

/* slidebar panel */

.slidebar-panel-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.slidebar-panel-logo img {
    width: 170px;
    height: 170px;
    border-radius: 100%;
}

.slidebar-panel-menu {
    display: flex;
    padding-right: 30px;
    padding-top: 50px;
}

.slidebar-panel-menu ul li {
    margin: 10px;
}

.slidebar-panel-menu ul li a {
    color: #fff;
    vertical-align: 6px;
    padding: 5px;
}

.slidebar-panel-menu ul li i {
    width: 30px;
    height: 30px;
    /* dalile gozashtan in bayad a=vaghti mikhaim aks ro arz va ertefa kam konim va oun icon be dorosti neshun nemide bayad andaze pas zamine ro be surat cover bezarim va baraye 
    inke emal beshe va size taghyir nakone bayad '!important' bezarim */
    background-size: cover !important;
    display: inline-block;
}

/* slidebar little pabel */

.slidebar-panel-little {
    position: fixed;
    width: 100px;
    height: 100%;
    top: 66px;
    right: 0;
    background-color: #2c2b2b;
    z-index: 9999;
    /* in baraye zamanie ke age tedad item ha bishtar bud va payin rafte bud bayad betunim scroll konim ke az 'overflow: auto;' estefade mikonim */
    overflow: auto;
    display: none;
    text-align: center;
}

.slidebar-panel-little-logo {
    margin-top: 10px;
}

.slidebar-panel-little-logo img {
    width: 70px;
    height: auto;
    /* in baraye ine ke oun sevidi pas zamine aks ro az bein bebare */
    mix-blend-mode: color;
    text-align: center;
    padding-top: 20px;
}

.slidebar-panel-little-menu {
    display: inline-block;
    padding-top: 20px;
}

.slidebar-panel-little-menu ul li {
    margin: 10px;
    align-content: center;
}

.slidebar-panel-little-menu ul a li i {
    width: 40px;
    height: 40px;
    /* dalile gozashtan in bayad a=vaghti mikhaim aks ro arz va ertefa kam konim va oun icon be dorosti neshun nemide bayad andaze pas zamine ro be surat cover bezarim va baraye 
    inke emal beshe va size taghyir nakone bayad '!important' bezarim */
    background-size: cover !important;
    display: inline-block;
}

/* category.html */

.categories {
    margin-top: 20px;
    /* be dalile kenar budan sidebar va content az flex estefade kardim */
}

.categories-flex {
    display: flex;
}

.category-content {
    width: 75%;
    height: auto;
    /* be dalil kenar budan mahsulat ba ham inja az flex estefade kardim */
    display: flex;
    flex-wrap: wrap;
}

.category-col-flex {
    width: calc(100% / 3);
    padding: 0 10px;
    margin-bottom: 15px;
}

.category-sidebar {
    width: 25%;
    height: auto;
    padding: 5px;
}

.category-sidebar-filters {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 1px 2px 3px #777;
}

.category-sidebar-filter-box {
    margin: 0 10px;
    border-bottom: 2px solid #ccc; 
}

.category-sidebar-filter-box:last-child {
    border-bottom: none; 
}

.category-sidebar-filter-box h2 {
    font-weight: bold;
    margin: 10px 0;
    font-size: 18px;
}

.category-sidebar-filter-box ul li {
    direction: ltr;
    margin-bottom: 10px;
    margin-right: 5px;
}

.category-sidebar-filter-box ul li label {
    display: inline-block;
    margin: 0 5px;
}

/* pagination */

.pagination {
    padding-top: 30px;
    /* baraye inke betunim chand div ra kenare ham gharar bedim bayad be class valedeshun 'display: flex;' bedim va 'flex-wrap: wrap;' bezarim */
    display: flex;
    flex-wrap: wrap;
    /* baraye inke mohtaviat dakhel div az chap va rast biad vasat */
    justify-content: center;
    direction: ltr;
    width: 100%;
    height: auto;
}

.pagination-item {
    box-shadow: 1px 2px 2px #ccc;
    width: 30px;
    height: 30px;
    background-color: #fff;
    /* baraye inke betunim mohtaviat dakhel div ra vasat div gharar bedim bayad be khodesh 'display: flex;' bedim va 
    'justify-content: center;' bezarim ta az chap va rast biad vasat va 'align-items: center;' bezarim ta az bala va payin biad vasat */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.pagination-item-selected {
    background-color: #0080ff;
}

.pagination-item-selected span {
    color: #fff;
}

/* about-us.html */

.about-us {
    padding: 30px 0
}

.about-us-flex {
    width: 100%;
    height: auto;
    display: flex;
    
}

.about-us-left {
    width: 50%;
    height: auto;
}

.about-us-left img {
    width: 100%;
    height: auto;
    box-shadow: 1px 2px 3px #777;
}

.about-us-right {
    width: 50%;
    height: auto;
    padding: 20px 10px;

}

.about-us-right h1 {
    font-weight: bold;
    font-size: 24px;
}

.about-us-right p {
    padding-top: 20px;
}

/* responsive */

@media screen and (max-width: 1300px) {
    .footer-box-first-last {
        width: 50%;
    }

    .footer-box-second-third {
        width: 50%;
    }

    .container {
        padding: 0 100px;
    }

    .col-4 {
        width: 50%;
    }
}

@media screen and (max-width: 1100px) {
    .product-info-right {
        width: 100%;
        margin-bottom: 40px;
    }

    .product-info-picture {
        width: 100%;
        text-align: center;
    }

    .product-info-picture img {
        width: 400px;
    }

    .product-info-left {
        width: 100%;
    }

    .product-info-description p {
        width: 100%;
    }

    .categories-flex {
        flex-direction: column;
    }

    .category-sidebar {
        width: 100%;
    }

    .category-content {
        width: 100%;
    }

    .category-sidebar-filters {
        display: flex;
        flex-wrap: wrap;
    }

    .category-sidebar-filter-box {
        width: 50%;
        border-bottom: none;
        margin: 0;
    }
}

@media screen and (max-width: 950px) {
    .container {
        padding: 0 60px;
    }

    .most-off-product {
        width: 50%;
    }

    .page-intro-left img {
        display: none;
    }

    .page-intro-right {
        width: 100%;
        text-align: center;
    }

    .page-intro-right h1 {
        font-size: 50px;
    }

    .page-intro-right h1 br {
        display: none;
    }

    .shop-logo {
        display: none;
    }

    .header-nav {
        display: none;
    }

    .hamburger-menu {
        display: inline-block;
    }
}

@media screen and (max-width: 800px) {
    .footer-box-first-last {
        width: 100%;
        text-align: center;
    }

    .footer-box-second-third {
        width: 100%;
        text-align: center;
    }

    .category-col-flex {
        width: 50%;
    }

    .about-us-flex {
        flex-direction: column-reverse;
    }

    .about-us-left {
        width: 100%;
    }

    .about-us-right {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .container {
        padding: 0 50px;
    }

    .col-4 {
        width: 100%;
    }

    .most-off-product {
        width: 100%;
    }

    .shop-logo {
        display: none;
    }

    .header-nav {
        display: none;
    }

    .hamburger-menu {
        display: inline-block;
    }

    .row {
        flex-direction: column;
    }

    .contact-input {
        width: 100%;
    }

    .slidebar-panel-little {
        display: inline-block;
    }

    .slidebar-panel {
        display: none;
    }

    .slidebar-body {
        padding-right: 100px;
    }
}

@media screen and (max-width: 600px) {
    .category-col-flex {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        padding: 0 10px;
    }

    .left-ad-image {
        display: none;
    }

    .right-ad-image {
        width: 100%;
    }

    .under-footer p {
        width: 100%;
        text-align: center;
    }

    .media-footer {
        width: 100%;
        text-align: center;
    }

    .product-info-right {
        margin-bottom: 0;
    }

    .product-info-picture img {
        width: 180px;
    }

    .slidebar-body-input input[type="text"] {
        width: 185px;
    }

    .slidebar-panel-little {
        width: 70px;
    }

    .slidebar-body {
        padding-right: 60px;
    }
}